{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'pharma/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharma/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'pharma/css/style.css' %}">

    <script type="text/javascript" src="{% static 'pharma/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'pharma/js/bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pharma/js/npm.js' %}"></script>
    <script type="text/javascript" src="{% static 'pharma/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pharma/js/script.js' %}"></script>
    <title>All Employee Details</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/pharma/" class="navbar-brand"><span
                    class="glyphicon glyphicon glyphicon-home"></span>&nbsp;HOME</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thisnav"
            ">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="thisnav">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dealer Management<b
                        class="caret"></b></a>
                    <ul id="dealer-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/pharma/dealerform/">Add Dealer Details</a></li>
                        <li><a href="/pharma/dealertable/">View Dealer Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Medicine Management<b
                        class="caret"></b></a>
                    <ul id="med-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/pharma/medform/">Add Medicine Details</a></li>
                        <li><a href="/pharma/medtable/">View Medicine Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee Management<b
                        class="caret"></b></a>
                    <ul id="emp-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/pharma/empform/">Add Employee Details</a></li>
                        <li><a href="/pharma/emptable/">View Employee Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer Management<b
                        class="caret"></b></a>
                    <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/pharma/custform/">Add Customer Details</a></li>
                        <li><a href="/pharma/custtable/">View Customer Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Purchase Information<b
                        class="caret"></b></a>
                    <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/pharma/purchaseform/">New Purchase</a></li>
                        <li><a href="/pharma/purchasetable/">View All Purchases</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid martop7">
    <div class="jumbotron jumcust">
        <h2>Employee Details</h2>
        <div class="row">
            <div class="col-md-1">
            </div>
            <table border="1" class="table table-responsive table-hover col-md-10">
                <tr>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Salary</th>
                </tr>
                {% for foo in emp %}
                    <tr>
                        <td><a href="/pharma/empformview{{ foo.id }}/">{{ foo.e_id }}</a></td>
                        <td>{{ foo.fname }}</td>
                        <td>{{ foo.lname }}</td>
                        <td>{{ foo.address }}</td>
                        <td>{{ foo.phn_no }}</td>
                        <td>{{ foo.email }}</td>
                        <td>{{ foo.sal }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <footer><h3>Click on an Employee ID to Update or Delete the record.</h3></footer>
    </div>
</div>
</body>
</html>